<!DOCTYPE html>
    <html>
        <head>
            <h1>Explore</h1>
        </head>
        <body>
            <nav>
                <a href="../index.html">Home</a>
                <a href="explore.html">Explore</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="tickets.html">Buy Tickets</a>
                <a href="checkout.html">Checkout</a>
            </nav>
            <img src = "../static/museumfinal.jpg">
            <h2>Mission Statement</h2>
            <p>MonoMuse is dedicated to exploring the evolving relationship 
                between art, technology, and society. Our mission is to inspire 
                curiosity and creativity by showcasing innovative exhibitions that
                 highlight how digital tools, emerging technologies, and human 
                 imagination shape the future of artistic expression.</p>
            <h2>Milestones</h2>
            <p> - 2023: Expansion of the museum space & launch of international artist collaborations.</p>
            <p> - 2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</p>
            <p> - 2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</p>
            <footer>© 2026 MonoMuse. All rights reserved.</footer>
        </body>
        
    </html>