<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js"></script>
        <title>Checkout</title>
    </head>
    <body onload="addYear()", style="background-color: rgb(241, 233, 250);">
        <div class="container">
            <header class="header">
                <h1>Checkout</h1>
                <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
            </header>
            <nav class="nav_bar">
                <a href="../index.html">Home</a>
                <a href="explore.html">Explore</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="tickets.html">Buy Tickets</a>
                <a id="navselected" class="active" href="checkout.html">Checkout</a>
            </nav>
            <main class="main">
                <br>
                <form>
                    <label>Name: (required)</label>
                    <p></p>
                    <input type="text" required>
                    <p></p>
                    <label>Email: (required)</label>
                    <p></p>
                    <input type="email" required>
                    <p></p>
                    <label>Ticket Quantity: (required)</label>
                    <p></p>
                    <input type="number" min="1" required>
                    <p></p>
                    <button type="submit">Submit</button>
                </form>
                <br>
            </main>
            <footer class="footer">
                <p id="copyYear">© MonoMuse. All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>