<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js"></script>
        <title>Explore</title>
    </head>
    <body onload="addYear()", style="background-color: rgb(241, 233, 250);">
        <div class="container">
            <header class="header">
                <h1>Explore</h1>
                <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
            </header>
            <nav class="nav_bar">
                <a href="../index.html">Home</a>
                <a id="navselected" class="active" href="explore.html">Explore</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="tickets.html">Buy Tickets</a>
                <a href="checkout.html">Checkout</a>
            </nav>
            <main class="main">
                <img src="../static/museumfinal.jpg" class="exhibit-img">
                <h2>Mission Statement</h2>
                <p>MonoMuse is dedicated to exploring the evolving relationship 
                    between art, technology, and society. Our mission is to inspire 
                    curiosity and creativity by showcasing innovative exhibitions that
                    highlight how digital tools, emerging technologies, and human 
                    imagination shape the future of artistic expression.</p>
                <h2>Milestones</h2>
                <p>- 2023: Expansion of the museum space & launch of international artist collaborations.</p>
                <p>- 2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</p>
                <p>- 2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</p>
            </main>
            <footer class="footer">
                <p id="copyYear">© MonoMuse. All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>