<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <script defer src="../static/script.js"></script>
        <title>Exhibitions</title>
    </head>
    <body onload="addYear()" style="background-color: rgb(241, 233, 250);">
        <div class="container">
            <header class="header">
                <h1>Exhibitions</h1>
                <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
            </header>
            <nav class="nav_bar">
                <a href="../index.html">Home</a>
                <a href="explore.html">Explore</a>
                <a id="navselected" class="active" href="exhibitions.html">Exhibitions</a>
                <a href="tickets.html">Buy Tickets</a>
                <a href="checkout.html">Checkout</a>
            </nav>
            <main class="main">
                <h2>Current Exhibitions</h2>
                <p>Explore some of MonoMuse’s featured exhibitions through our interactive gallery.</p>

                <div class="gallery-container">
                    <img id="galleryImage" src="../static/museumone.png" alt="The first exhibition artwork titled Band in a Bar, featuring a colorful blend of clustered dots that signify the bright atmosphere of a jazz bar." class="gallery-img">

                    <h3 id="galleryTitle">Exhibition 1: Band in a Bar</h3>

                    <p id="galleryDescription">
                        This exhibition is an exploration of a colorful image describing a jazz band in a bar. 
                        It is a piece of artistry open for interpretation and featuring interesting social commentary.
                    </p>

                    <div class="gallery-buttons">
                        <button type="button" onclick="prevImage()">Previous</button>
                        <button type="button" onclick="nextImage()">Next</button>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <p id="copyYear">© MonoMuse. All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>