<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js"></script>
        <title>Exhibitions</title>
    </head>
    <body onload="addYear()">
        <div class="container">
            <header class="header">
                <h1>Exhibitions</h1>
                <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
            </header>
            <nav class="nav_bar">
                <a href="../index.html">Home</a>
                <a href="explore.html">Explore</a>
                <a id="navselected" href="exhibitions.html">Exhibitions</a>
                <a href="tickets.html">Buy Tickets</a>
                <a href="checkout.html">Checkout</a>
            </nav>
            <main class="main">
                <h2>Exhibition 1: Band in a Bar</h2>
                <img src="../static/museumone.png" class="exhibit-img">
                <p>
                    This exhibition is an exploration on a colorful image 
                    describing a jazz in band in bar. It is a piece of artistry
                    open for interpretation and featuring interesting social commentary
                </p>

                <h2>Exhibition 2: Butterfly Garden</h2>
                <img src="../static/museumtwo.png" class="exhibit-img">
                <p>
                    This piece of artwork shows an elegant, burgundy butterfly admist
                    a beige and mundane background, using contrast to draw 
                    emphasis to the artistry.
                </p>
            </main>
            <footer class="footer">
                <p id="copyYear">© MonoMuse. All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>