<!DOCTYPE html>
<html>
    <head>
        <h1>Exhibitions</h1>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
    </head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/scrip.js"></script>
    <body onload="addYear()">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a id="navselected" href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
        <h2>Exhibition 1: Band in a Bar</h2>
        <img src = "../static/museumone.png" class="exhibit-img">
        <p>
            This exhibition explores how artists are using algorithms, artificial intelligence
            and generative tools to create new forms of digital expression. Through interactive displays
             and dynamic visuals, visitors can see how machines and human creativity
             work together to produce art that evolves in real time.
        </p>
        <h2>Exhibition 2: Code & Canvas: The Language of Creative Technology</h2>
        <img src = "../static/museumtwo.png" class="exhibit-img">
        <p>
            Code & Canvas highlights the ways programming has become a medium for artistic creation. 
            Featuring works by digital artists and designers, the exhibition showcases installations, 
            projections, and interactive pieces that reveal how lines of code can transform into immersive visual experiences.
        </p>
        <footer><p id="copyYear">© MonoMuse. All rights reserved.</p></footer>
    </body>
</html>